@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

:root{
	--main-color:#d3ad7f;
	--black:#13131a;
	--bg:#010103;
	--border:.1rem solid rgba(255,255,255,.3)
	
}
*{
	font-family:'Merriweather', serif;
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none; 
	border:none; 
	text-decoration:none;
	text-transform:capitalize;
	transition:.2s linear;
}
html{
	font-size:62.5%;
	overflow-x:hidden;
	scroll-behavior:smooth;
}
html::-webkit-scrollbar{
	width:.8rem;
}
html::-webkit-scrollbar-track{
	background:transparent;
}
html::-webkit-scrollbar-thumb{
	background:#fff;
	border-radius:5rem;
}
body{
	background:var(--bg);
}
.btn{
	margin-top:1rem;
	display:inline-block;
	padding:.7rem 3rem;
	font-size:1.7rem;
	color:#fff;
	backgorund:var(--main-color);
	cursor:pointer;
}
.btn:hover{
	letter-spacing:.2rem;
}
header{
	background: var(--bg);
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 1.5rem 7%;
	border-bottom:var(--border);
	position:fixed;
	top:0;
	left:0;
	right:0;	
}
header .navbar a{
	margin: 0 1rem;
	font-size:1.6rem;
	color:#fff;
}
header .navbar a:hover{
	color:var(--main-color);
	border-bottom:.1rem solid;
	padding-bottom:.5rem;
}
a.logo img{
	width:85px;
}
header div.icons img{
	color:#fff;
	cursor:pointer;
	font-size:2.5rem;
	margin-left:1.5rem;
	width:35px;
	
}
div.search img{
	
}
header div.icons div{
	margin-left: 20px;
}
header div.icons div:hover{
	color:var(--main-color);
}

#menu-btn{
	display:none;
}
header .search-form{
	position:absolute;
	top:125%;
	right:-20%;
	width:50rem;
	height:5rem;
	display:flex;
	align-items:center;
	transform:scaleY(0);
	transform-origin:top;
}
header .search-form input{
	height:100%;
	width:auto;
	font-size:1.6rem;
	color:black;
	padding:1rem;
	text-transform:none;
}
header .search-form label{
	cursor:pointer;
	font-size:2.2rem;
	margin-right:1.5rem;
}
header .search-form label:hover{
	color:var(--main-color);
}

header .cart_item_container{
	position:absolute;
	top:100%;
	right:-100%;
	height:calc(100vh-9.5rem);
	width:35rem;
	padding:0 1.5rem;
	background:rgba(244,244,244,0.2);
	
}
header .cart_item_container .cart-item{
	position:relative;
	margin: 2rem 0;
	display:flex;
	align-items:center;
	gap:1.5rem;
	color:#fff;
}
header .cart_item_container img{
	width:75px;
	height:auto;
	
}
header .cart_item_container .cart-item .fa-times{
	position:absolute;
	top:1rem;
	right:1rem;
	font-size:2rem;
	cursorf:pointer;
	color:var(--black);
}
header .cart_item_container .cart-item .fa-times:hover{
	color:(--main-color);
}
header .cart_item_container .cart-item h2{
	font-size:2rem;
	color:gray;
	padding-bottom:5px;
}
header .cart_item_container .cart-item .price{
	font-size:2rem;
	color:#fff;
	padding-bottom:5px;
}
header .cart_item_container .btn{
	width:100%;
	
}













/*media queries */


@media (max-width:1040px;){
	html{
		font-size:55%;
	}
	header{
		padding:1.5rem 2rem;
	}
	#menu-btn{
		display:inline-block;
	}
	header.navbar{
		position:absolute;
		top:100%; 
		right:0;
		background:#fff;
		width:30rem;
	}
	header .navbar a{
		display:block;
		margin:1.5rem;
		padding:.5rem;
		font-size:2rem;
	}
}